{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
      <table class="table table-condensed">
        {% for item in pagination.items %}
            <tr>
            <td style="width: 100px">{{ item.hostname }}</td>
            <td style="width: 30px">{{ item.ipaddress_eth0 }}</li>
            <td style="width: 30px">{{ item.ipaddress_eth1 }}</li>
            <td style="width: 20px">{{ item.operatingsystem }}</li>
            <td style="width: 20px">{{ item.operatingsystemrelease }}</li>
            <td style="width: 20px">{{ item.kernelversion }}</td>
            <td style="width: 20px">{{ item.hardwaremodel }}</td>
            <td style="width: 20px">{{ item.processorcount }}</li>
            <td style="width: 20px">{{ item.memorysize }}</li>
            <td style="width: 20px">{{ item.swapsize }}</li>
            <td style="width: 20px">{{ item.timezone }}</li>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
